*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    font-family: serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
   font-size: 20px;
   color: #222; 
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: rgb(10, 22, 16);
    margin:  15px 0 20px 0;
}

.section-p1{
    padding:  40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/* header style */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(53, 54, 67);
    box-shadow:  0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0 ;
} 

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    float: left;
    list-style: none;
    padding: 0 20px;
    position: relative; 
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.3seconds ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(252, 254, 255);
}

#navbar li a.active::after, 
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: -4px;
    left: 20px;
} 
#mobile{
    display: none;
    align-items: center;
}

/* home page */
#hero{
    background-image: url(hero_back.jpeg);
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 10px;
}
#hero h1{
    color: rgb(63, 63, 68);
}

#hero button{
    background-image: url(button.png);
    background-color: transparent;
    color: #222;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 30px 30px 34px rgb(0, 0, 0, 0.09);
    border: 1px solid #daba73;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(0, 0, 0, 0.03);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px ;
}

#feature .fe-box h6{
    display: inline-block;
     padding: 9px 8px 6px 8px;
     line-height: 1;
     border-radius: 4px;
     color: rgb(33, 13, 6);
     background-color: #daba73 ;
     
}

#feature .fe-box:nth-child(2) h6{
    background-color: rgb(183, 169, 177);  
}
#feature .fe-box:nth-child(3) h6{
    background-color: rgb(139, 135, 126);  
}
#feature .fe-box:nth-child(4) h6{
    background-color: rgb(139, 173, 198);  
}
#feature .fe-box:nth-child(5) h6{
    background-color: rgb(183, 168, 183);  
}
#feature .fe-box:nth-child(6) h6 {
    background-color: rgb(255, 187, 255);  
}

#product{
    text-align: center;
}

#product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
} 

#product .pro{
    float: left;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6); 
}
#product .pro img{
    width: 100%;
    border-radius: 20px;
}
#product .pro .des{
    text-align: start; 
    padding: 10px 0; 
}
#product .pro .des span{
    color: rgb(84, 84, 84);
    font-size: 12px;
}
#product .pro .des  h5{
    padding-top: 7px;
    color: #12102d;
    font-size: 20px;
}
#product .pro .des i{
    font-size: 12px;
    color: rgb(226, 192, 0);
}
#product .pro .des h4{
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(79, 0, 0);
}

#product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #daba73;
    font-weight: 600;
    color: rgb(60, 27, 3);
    border: 1px solid #fff;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("b2.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding:  10px 0 ;
}
#banner h2 span{
    color: red;
}

#banner button:hover{
    background-color: #a90a0a;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: flex-start;
    background-image: url("godbg.webp");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2{
    background-image: url(back.jpg);
}

#sm-banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
}

#sm-banner .banner-box:hover button{
    background: rgb(82, 27, 4);
    border: 1px solid #12102d;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: flex-start;
    background-image: url("ringbg.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    background-image: url(earbg.jpg);
}
#banner3 .banner-box3{
    background-image: url(chainbg.webp);
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
}
#banner3 h3{
    color: beige;
    font-weight: 800;
    font-size: 15px;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: rgb(2, 2, 30);
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #858a98;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3rem;
    padding:  0 1.25em;
    font-size: 14px;
    width: 100%;
    border:  1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

#newsletter button{
    background-color: rgb(53, 121, 127);
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer img{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin: 0 0 10px 0;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #858a98;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #624e00;
}
footer .copyright{
    width: 100%;
    text-align: center;
}





/* media queries */
@media (max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 0 40px 60px rgb(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3seconds;
    }
    #navbar .active{
        right: 0 ;
    }
    #navbar li{
        margin-bottom:  25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #fff;
        font-size: 24px;
        padding-left: 20px;
    }
}    





